{% extends 'base.html' %}

{% block content %}
    <div class="container">
{#        <div class="content-list pt-3">#}
{#            <h1 class="mb-4">Content List</h1>#}
{#            {% for course in courses %}#}
{#                <div class="media mb-3">#}
{#                    <a href="/">#}
{#                        <img class="mr-3" src="{{ course.picture.url }}" alt="Generic placeholder image">#}
{#                    </a>#}
{#                    <div class="media-body">#}
{#                        <a href="/">#}
{#                            <h5 class="mt-0">{{ course.name }}</h5>#}
{#                        </a>#}
{#                        {{ course.short_description }}#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
    </div>
{% endblock %}
